h2{
    color: #d3573c;
    font-weight: 400;
    font-size: 42px;
}

h5{
    color: black;
    font-size: 64px;
}

.photograph-adresse{
    color: #a24141;
    font-weight: 400;
    font-size: 24px;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photograph-picture {
    height: 200px;
    width: 200px;
    border-radius:50%;
    overflow: hidden;
    object-fit: cover;
    box-shadow: #000000c9 1px 1px 10px;
}

.photos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.photo-picture{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.photo-video{
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

.photo-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photo-info div{
    width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.like{
    width: 25px;
    height: 25px;
}

.totalLike{
    width: 200px;
    height: 45px;
    padding: 0 10px;
    position: fixed;
    top: 94%;
    left: 83%;
    border-radius: 10px 10px 0 0 ;
    background: #DB8876;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.totalLike > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    transform: scale(0.7);
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

textarea{
    width:100%;
    height: 75px;
}

/* Lightbox */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.lightbox_bg{
    background: white;
    display: flex;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    justify-content: center;
}

.control_lightbox_img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 100%;
}  

.mediaBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: #901c1c;
}

.closeLightbox{
    position: fixed;
    top: 15%;
    left: 80%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.imgDyn{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.vidDyn{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/* PHOTO MODAL */
#photo_modal {
    display: none;
    position: absolute;
    left: 100px;
    z-index: 2;
}
  
#photo_modal .modal {
    position: relative;
    background-color: white;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 20px 0;
}

#photo_modal .modal .close {
    -webkit-filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(3671%) hue-rotate(343deg) brightness(97%) contrast(98%);
    filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(3671%) hue-rotate(343deg) brightness(97%) contrast(98%);
    position: absolute;
    top: 0;
    right: 0;
}

#photo_modal .modal .close:hover {
    -webkit-filter: brightness(0) saturate(100%) invert(40%) sepia(18%) saturate(2167%) hue-rotate(324deg) brightness(103%) contrast(91%);
    filter: brightness(0) saturate(100%) invert(40%) sepia(18%) saturate(2167%) hue-rotate(324deg) brightness(103%) contrast(91%);
}

#photo_modal .modal nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

#photo_modal .modal nav .previous, #photo_modal .modal nav .next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
    font-size: 50px;
    color: var(--red);
    height: 100%;
    cursor: pointer;
}

#photo_modal .modal nav .previous:hover, #photo_modal .modal nav .next:hover {
    color: var(--red-hover);
}

#photo_modal .modal .photo {
    border-radius: 5px;
}

#photo_modal h3 {
    color: var(--red);
}

.sortSystem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100px;
}

.trier{
    background: #901c1c;
    color: white;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    font-size: 15px;
    padding: 0 5px;
    appearance: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 53%;
    left: 18%;
}

.trier:hover{
    height: 180px;
    float: left;
    z-index: 999;
}

.dropdown{
    width: 100%;
    margin: 0px 10px;
    list-style-type: none;
    padding: 1px 0;
    z-index: 999;
}

.dropdown:first-child{
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown_btn{
    color: white;
    background: none;
    border:none;
    width: 80%;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-weight: bold;
    display: none;
    padding: 18px 0;
    align-items: flex-start;
    cursor: pointer;
}

.arrowDown{
    position: relative;
    left: 70px;
    z-index: 9999;
    width:10px;
    height:10px;
}

.active{
    display: flex;
}

.trier:hover .dropdown_btn{
    display: flex;
}